body {
    background-color: darkkhaki;
    font: 13pt Arial ;
    color: rgb(65, 37, 4);
}

h1 {
    color: crimson;
}

a {
    text-decoration: none;
    color: brown;
}

a:visited {
    color: rgb(156, 86, 60);
}
 a:hover {
     color: rgb(119, 90, 15);
     text-decoration: underline;
 }